// Place all the styles related to the Pictures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

h1 {
	text-align: center;
	padding-bottom: 25px;
}

table {
	background-color: lightBlue;
}

tr {
	background-color: lightGreen;
}

td {
	background-color: blue;
}

body {
	padding: 50px;
	margin: 25px;
}

img {
	width: 250px;
	padding: 25px;
}

a {
	text-decoration: none;
	background-color: red;
	padding: 10px;
}

